body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

h2 {
    margin-top: 30px;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    width: 200px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #22c55e;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #16a34a;
    transform: scale(1.05);
}

#devices {
    margin-top: 20px;
}

canvas {
    margin-top: 40px;
    max-width: 600px;
}